{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Проверка данных</title>
    <!-- Подключение jQuery -->
    <script type="text/javascript" src="{% static 'js/jquery-3.7.1.min.js' %}"></script>
</head>
<body>
    <h1>Данные для проверки</h1>
    <table border="1">
        {% for row in table_data %}
            <tr>
                {% for cell in row %}
                    {{ cell|safe }}
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
    
    <br />
    <button id="save-changes">Сохранить изменения</button>
    
    <script>
$(document).ready(function() {
    $('#save-changes').on('click', function(event) {
        event.preventDefault();  // Предотвращаем стандартное поведение кнопки
        var pk = '{{ pk }}';
        var changes = [];
        $('.editable-cell').each(function(index, element) {
            var $element = $(element);
            var row = parseInt($element.data('row'));
            var col = parseInt($element.data('col'));
            var newValue = $element.val();
            changes.push({row: row, col: col, value: newValue});
        });
        
        $.ajax({
            url: '/save_changes/' + pk + '/',  // Передаем pk в URL
            method: 'POST',
            contentType: 'application/json',
            data: JSON.stringify({changes: changes}),
            success: function(response) {
                alert('Изменения успешно сохранены!');
            },
            error: function(xhr, status, error) {
                console.error(error);
            }
        });
    });
});
</script>
</body>
</html>