{% extends 'registration/profile.html' %}

{% block title %}
	Детали счёта
{% endblock %}

{% block title_page %}
	<h1>Детали счёта</h1>
{% endblock %}

{% block base_l %}
	Номер счёта: {{ object.invoice_number }} <br>
    Дата: {{ object.mouth_of_invoice_receipt }}.{{ object.year_of_invoice_receipt }} <br>
    Сумма: {{ object.total_amount }} <br><br><br>
    Статусы: <br>
    {% for job in jobs %}
        <table class="table">
            <tbody>
                <tr>
                    <td>{{ job.step.step_name }}</td>
                    <td class="text-end">{{ job.status }} </td>
                </tr>
            </tbody>
        </table>
        
    {% endfor %}
    
{% endblock %}

{% block button_exit %}
    {% load django_bootstrap5 %}
	<form action="{% url 'profile' %}" method="get">
        {% csrf_token %}
        {% bootstrap_button button_type="submit" content="Назад" %}
    </form>
{% endblock %}

{% block footer %}
    <p class="text-start">crfxfnm</p>
{% endblock %}