{% extends 'registration/profile.html' %}

{% block title %}
	Детали счёта
{% endblock %}

{% block title_page %}
	<h1>Детали счёта</h1>
{% endblock %}

{% block base_l %}
	Номер счёта: {{ object.invoice_number }} <br>
    Дата: {{ object.mouth_of_invoice_receipt }}.{{ object.year_of_invoice_receipt }} <br>
    Сумма: {{ object.total_amount }} <br><br><br>
    Статусы: <br>
    {% for job in jobs %}
        <table class="table">
            <tbody>
                <tr>
                    <td>{{ job.step.step_name }}</td>
                    <td class="text-end">{{ job.status }} </td>
                </tr>
            </tbody>
        </table>
        
    {% endfor %}
    
{% endblock %}

{% block button_exit %}
    {% load django_bootstrap5 %}
	<form action="{% url 'profile' %}" method="get">
        {% csrf_token %}
        {% bootstrap_button button_type="submit" content="Назад" %}
    </form>
{% endblock %}

{% block footer %}
    <h2>Файлы</h2>
{#  <ul>#}
{#    {% for file in files %}#}
{#      <li>#}
{#        {{ file.original_file.name }} - #}
{#        <a href="{{ file.original_file.url }}">Скачать оригинал</a>#}
{#        <a href="{% url 'download_file' file_id=file.id file_type='original' %}">Скачать оригинал</a>#}
{#        {% if file.processed_file %} |#}
{#          <a href="{{ file.processed_file.url }}">Скачать обработанный</a>#}
{#          <a href="{% url 'download_file' file_id=file.id file_type='processed' %}">Скачать обработанный</a>#}
{#        {% endif %}#}
{#      </li>#}
{#    {% endfor %}#}
{#  </ul>#}
    {{ file }}
     <a href="{% url 'download_file' file_id=file.id file_type='original' %}">Скачать оригинал</a>
{% endblock %}