{% load static %}
{% load django_bootstrap5 %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    
    <link rel="stylesheet" href="{% static 'bootstrap-5.0.2-dist/css/bootstrap-grid.min.css' %}">
    <link href="{% static 'bootstrap-5.0.2-dist/css/bootstrap.min.css' %}" rel="stylesheet">
    
    
    <title>Title</title>
    
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-4 bg-secondary">
                <p>Хекслет — практические курсы по программированию. Мы помогаем новичкам стать профессиональными программистами, а опытным разработчикам получать новые знания и расти профессионально.</p>
                <p>Мы считаем, что настоящий программист должен понимать, как работает компьютер, и обладать вычислительным мышлением. Он должен видеть проблему, а не задание. Должен уметь анализировать и рассуждать на уровне проблемы и выше, а не только на уровне кода.</p>
                <p>При сегодняшнем обилии учебных материалов, курсов и книг, г
            </div>
            <div class="col-8 bg-info">
                <p>Хекслет — практические курсы по программированию. Мы помогаем новичкам стать профессиональными программистами, а опытным разработчикам получать новые знания и расти профессионально.</p>
                <p>Мы считаем, что настоящий программист должен понимать, как работает компьютер, и обладать вычислительным мышлением. Он должен видеть проблему, а не задание. Должен уметь анализировать и рассуждать на уровне проблемы и выше, а не только на уровне кода.</p>
                <p>При сегодняшнем обилии учебных материалов, курсов и книг, г
            </div>
        </div>
        <div class="row">
            <div class="col bg-light">
                <p>Важно: не вкладывайте контейнер внутри контейнера. Это плохая практика. При необходимости в нескольких контейнерах, вместо вкладывания друг в друга разделите их. 
                    Если в процессе разметки заметили, что нужен контейнер в контейнере, то успокойтесь, попейте кофе и пересмотрите подход.</p>
            </div>
        </div>
    </div>
</body>

  <!-- Подключение скриптов -->
    <script src="{% static 'bootstrap-5.0.2-dist/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'bootstrap-5.0.2-dist/js/bootstrap.bundle.min.js' %}"></script>

</html>