{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Edit Book</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>
    <h1>Результат загрузки</h1>
    Загрузка прошла успешно!

    <script>
        pk = {{ pk }}
        setTimeout(function () {
            window.location.href = '{% url 'edit-book' pk=pk %}'; // Укажите нужный URL
        }, 1500); // Время задержки в миллисекундах (5000 мс = 5 сек)
    </script>
</body>
</html>