{% extends 'invoice/upload.html' %}
{% block content %}
    <div class="d-flex justify-content-center align-items-center vh-100">
        <div class="bg-secondary bg-gradient text-white p-3 rounded-3 w-25 border border-dark">
	<h2>Login</h2>
     {% load django_bootstrap5 %}       
<form method="post" class="form-floating">
    
  {% csrf_token %}
  {{ form.as_p }}

    <button type="submit"  class="btn btn-info" data-mdb-ripple-init>Вход</button>
</form>
        </div>
    </div>
    <script>
    // Initialization for ES Users
import { Ripple, initMDB } from "mdb-ui-kit";

initMDB({ Ripple });
    </script>
{% endblock %}
