{% load static %}
{% load django_bootstrap5 %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'bootstrap-5.0.2-dist/css/bootstrap-grid.min.css' %}">
    <link href="{% static 'bootstrap-5.0.2-dist/css/bootstrap.min.css' %}" rel="stylesheet">
    
    	<title>{% block title %}Профиль пользователя {% endblock %}</title>
   
</head>
<body class="text-center w-100">

    <div class="container ">

        <div class="row">

            <div class="col-10">
                {% block title_page %}
                    <h1>Профиль пользователя - {{ user.username }}</h1>	
                {% endblock %}

            </div>

            <div class="col text-end p-2">
                {% block button_exit %}
                	<form action="{% url 'logout' %}" method="post">
                    {% csrf_token %}
                    {% bootstrap_button button_type="submit" content="Выйти" %}
                    </form>
                {% endblock %}
            </div>

        </div>
    
        <hr>
    
        <div class="row g-2">

            <div class="col text-start bg-light border p-3 me-1">
                {% block base_l %}
                    <h3>Загруженные документы:</h3>
                    {% for item in invoices %}
                        <a href="{% url 'details-list' pk=item.id %}"> № счёта {{ item }} </a> >>>>>
                        <a href="{% url 'edit-book' pk=item.id %}"> Изменить </a> <br>
                    {% empty %}
                        <p>Нет загруженных счетов</p>
                    {% endfor %}	
                {% endblock %}
            </div>

{#            <div class="col bg-light border p-3">#}
{#                {% block base_r %}#}
{#                	<h3>Сообщения</h3>#}
{#                    {% for item in result %}#}
{#                        {{ item.ext_id }} {{ item.step_id }} {{ item.ready }}<br>#}
{#                    {% endfor %}#}
{#                {% endblock %} #}
{#            </div>#}

        </div>
    
        <hr>
    
        <div id="upload_form" class="row align-items-end">
            <div class="col">
                {% block footer %}
                	<div class="d-flex justify-content-center align-items-center vh-90">
                        <div class="bg-secondary bg-gradient text-white p-2 rounded-3 m-2 w-100 border border-dark">
                            <h1>Загрузить счёт</h1>
                            <!-- Форма для загрузки файла -->
                            <form id="upload-form" method="POST" enctype="multipart/form-data" class="form-floating">
                                {% csrf_token %}
                                {% bootstrap_field form.file show_label=False label_class="col-sm-2" field_class="col-sm-10" %}
                                {% bootstrap_button button_type="submit" accept=".xls,.xlsx" content="Загрузить" %}
                            </form>
                        </div>
                    </div>
                {% endblock %}
            </div>
        </div>

    </div>

    <!-- Подключение скриптов -->
    <script src="{% static 'bootstrap-5.0.2-dist/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'bootstrap-5.0.2-dist/js/bootstrap.bundle.min.js' %}"></script>

</body>
</html>